:root {
    --PrimaryColor: #0073a8;
    --SecondaryColor: #10b5cb;
    --gradientColor: linear-gradient(to right, hs1(187, 85%, 43%), #0073a8);
    --whiteColor: #fff;
    --blackColor: Ohsl(201, 33%, 16%);
    --textColor: #58585f;
    --whiteColorDeam: #ededed;
    --greyText: #bebebe;
    --inputColor: #efefef;
    --bodyColor: #f0f0f6;
    --cardBG: #e1e1eb;
}
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: -0.2px 4px rgba(2, 15, 29, 0.242);
}
.header .logo {
    color: var(--blackColor);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}
.header .logo .icon {
    font-size: 25px;
    color: var(--PrimaryColor);
    transform: translate(5px);
}
@media screen and (max-width: 768px) {
    .header .navBar {
        position: absolute;
        background: var(--whiteColorDeam);
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top: -500rem;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
        transition: 0.1s ease-in-out;
   }
    .header .navBar .navLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem 0;
   }
    .header .navBar .navLists .navItem {
        padding: 0.5rem 0;
   }
    .header .navBar .navLists .navItem .navLink {
        color: var(--textColor);
        font-size: 0.9rem;
        font-weight: 600;
   }
    .header .navBar .navLists .navItem .navLink:hover {
        color: var(--PrimaryColor);
   }
    .header .navBar .navLists .btn {
        margin-top: 1rem;
   }
    .header .navBar .navLists .btn a {
        font-weight: 600;
        color: var(--whiteColor);
   }
    .header .activeNavbar {
        top: 7rem;
   }
    .header .closeNavbar {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: var(--PrimaryColor);
   }
    .header .closeNavbar:hover {
        color: var(--SecondaryColor);
   }
}
.header .toggleNavbar .icon {
    font-size: 25px;
    color: var(--PrimaryColor);
}
.header .toggleNavbar:hover.icon {
    color: var(--SecondaryColor);
}
@media screen and (min-width: 769px) {
    .toggleNavbar, .closeNavbar {
        display: none;
   }
    .header {
        padding: 1.5rem 2rem;
   }
    .header .navBar .navLists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
   }
    .header .navBar .navLists .navItem .navLink {
        color: var(--textColor);
        padding: 0 0.45rem;
        font-size: 0.9rem;
        font-weight: 500;
   }
    .header .navBar .navLists .navItem .navLink:hover {
        color: var(--PrimaryColor);
   }
    .header .navBar .navLists .btn {
        margin-left: 1rem;
   }
    .header .navBar .navLists .btn a {
        color: var(--whiteColor);
        font-weight: 500;
   }
}
@media screen and (min-width: 960px) {
    .header .navBar .navLists .navItem {
        padding: 0 0.7rem;
   }
}
@media screen and (min-width: 1240px) {
    .header {
        padding: 1rem 8.5rem;
   }
}
