:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: Ohsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(225, 225, 235);
}
.log{
    height: 760px;
    width: 1080x;
    background-color: pink;
   padding-top: 70px;
}
.head_pos{
    text-align: center;
    padding-top: 70px;
}
.head_style{
    font-size:xxx-large;
    font-family: 'Times New Roman', Times, serif;
}
.table_pos{
    justify-content: center;
    padding-top: 100px;
}
.table{
    th,td{
        padding: 15px;
    }
}
.btn{
    margin-top: 1rem;

        font-weight: 600;
        color: var(--whiteColor);
    
}
.text_style{
    font-size: 20px;
}
.field_style{
    border-radius: 15px ;
    border: 0;
    padding-left: 10px;
}